$color-dark:rgb(29, 63, 114);
$color-dark2:rgb(21, 44, 78);
$color-blue:rgb(86, 153, 210);
$color-water:rgb(113, 194, 204);
$color-water2: rgb(23, 164, 186);
$color-light:rgb(216, 235, 249);
$color-grey: #f3f3f3;
$color-grey2: #ced4da;
$color-red: #dc3545;

$common-transition-time: 0.5s;