.spinner {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1100;
  left: 0;
  top: 0;
  &__row {
    display: flex;
    align-items: center;
    height: 100%;
  }
}
@keyframes ldio-z5aw51t5vft {
  0% {
    transform: translate(12px, 80px) scale(0);
  }
  25% {
    transform: translate(12px, 80px) scale(0);
  }
  50% {
    transform: translate(12px, 80px) scale(1);
  }
  75% {
    transform: translate(80px, 80px) scale(1);
  }
  100% {
    transform: translate(148px, 80px) scale(1);
  }
}
@keyframes ldio-z5aw51t5vft-r {
  0% {
    transform: translate(148px, 80px) scale(1);
  }
  100% {
    transform: translate(148px, 80px) scale(0);
  }
}
@keyframes ldio-z5aw51t5vft-c {
  0% {
    background: #1d3f72;
  }
  25% {
    background: #71c2cc;
  }
  50% {
    background: #d8ebf9;
  }
  75% {
    background: #5699d2;
  }
  100% {
    background: #1d3f72;
  }
}
.ldio-z5aw51t5vft div {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translate(80px, 80px) scale(1);
  background: #1d3f72;
  animation: ldio-z5aw51t5vft 1.6393442622950818s infinite cubic-bezier(0, 0.5, 0.5, 1);
}
.ldio-z5aw51t5vft div:nth-child(1) {
  background: #5699d2;
  transform: translate(148px, 80px) scale(1);
  animation: ldio-z5aw51t5vft-r 0.40983606557377045s infinite cubic-bezier(0, 0.5, 0.5, 1),
    ldio-z5aw51t5vft-c 1.6393442622950818s infinite step-start;
}
.ldio-z5aw51t5vft div:nth-child(2) {
  animation-delay: -0.40983606557377045s;
  background: #1d3f72;
}
.ldio-z5aw51t5vft div:nth-child(3) {
  animation-delay: -0.8196721311475409s;
  background: #5699d2;
}
.ldio-z5aw51t5vft div:nth-child(4) {
  animation-delay: -1.2295081967213113s;
  background: #d8ebf9;
}
.ldio-z5aw51t5vft div:nth-child(5) {
  animation-delay: -1.6393442622950818s;
  background: #71c2cc;
}
.loadingio-spinner-ellipsis-bpkkjnktpjt {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-z5aw51t5vft {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-z5aw51t5vft div {
  box-sizing: content-box;
}

// spinner-small
.spinner-small{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}
@keyframes ldio-2l2kblqd2kh {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-2l2kblqd2kh div {
  position: absolute;
  animation: ldio-2l2kblqd2kh 1s linear infinite;
  width: 80px;
  height: 80px;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  box-shadow: 0 2px 0 0 #1d3f72;
  transform-origin: 40px 41px;
}
.loadingio-spinner-eclipse-cyxcbc554pb {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  // background: #f1f2f3;
}
.ldio-2l2kblqd2kh {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-2l2kblqd2kh div {
  box-sizing: content-box;
}
